@model SiteDeVente.Models.Categorie

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string[][] results = null;
    string connectionString = "data source=(LocalDB)\\MSSQLLocalDB;attachdbfilename=|DataDirectory|VenteDB.mdf;integrated security=True;App=EntityFramework";
    var nomComplet = Session["UserNom"];
    var email = Session["UserEmail"];
    var image = Session["UserImage"];
    //var nomCategorie = "gh";
    //var nombreAttributsCategorie = 3;
    //var attributsSpecifiquesCategorie = "sdfg";
    //var lienImage = "ghjkl";

    void TableCategories()
    {
        List<string[]> resultList = new List<string[]>();

        using (System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection(connectionString))
        {
            connection.Open();

            string sqlQuery = @"
    SELECT
        c.idCategorie,
        c.[image],
        c.nom,
        c.attributsSpecifiques,
        COUNT(p.idProduit) as NombreDeProduits
    FROM Categorie c
    LEFT JOIN Produit p ON c.idCategorie = p.idCategorieF
    GROUP BY c.idCategorie, c.[image], c.nom, c.attributsSpecifiques;
";

            using (System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(sqlQuery, connection))
            {

                using (System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        List<string> rowValues = new List<string>();
                        for (int i = 0; i < reader.FieldCount; i++)
                        {
                            rowValues.Add(reader[i].ToString());
                        }
                        resultList.Add(rowValues.ToArray());
                    }
                }
            }
        }

        results = resultList.ToArray();
    }

    void DeleteCategory(string idString)
    {

        using (System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection(connectionString))
        {
            connection.Open();

            string sqlQuery = @"
    Delete from Categorie where idCategorie=@idString;
";

            using (System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(sqlQuery, connection))
            {
                command.Parameters.AddWithValue("@idString", idString);

                using (System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader())
                {
                }
            }
        }
    }



    //void CreerCategorie()
    //{

    //    using (System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection(connectionString))
    //    {
    //        connection.Open();

    //        string sqlQuery = "INSERT INTO Categorie (nom, attributsSpecifiques, image) VALUES (@Nom, @AttributsSpecifiques, @Image); SELECT SCOPE_IDENTITY();";


    //        using (System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(sqlQuery, connection))
    //        {
    //            command.Parameters.AddWithValue("@Nom", nomCategorie);
    //            command.Parameters.AddWithValue("@AttributsSpecifiques", attributsSpecifiquesCategorie);
    //            command.Parameters.AddWithValue("@Image", lienImage);
    //            using (System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader())
    //            {
    //            }
    //        }
    //    }

    //}

    TableCategories();
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@nomComplet (admin) - Catégories</title>

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/css/MyOwnTheme.css" rel="stylesheet">
    <style>
        :root {
            --mainColor: #BF567D !important;
            --primary: var(--mainColor) !important;
            --secondColor: #D9B0C3;
            --thirdColor: #D9C5CE;
            --fourthColor: #FFFFFF;
        }

        #icone_rotation {
            animation: rotateIn 1s;
            color: red;
        }

        .buttonMain {
            color: var(--mainColor);
            border-color: var(--mainColor);
            accent-color: var(--mainColor);
        }

        p {
            color: #000000;
        }
        .sidebar-divider {
            background-color: #FFFFFF;
        }
    </style>


</head>

<body id="page-top" class="MainBackground" style="margin-top: 0 !important;">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div class="sidebar MainBackground">
            <!-- Sidebar -->
            <ul class="navbar-nav sidebar sidebar-dark accordion MainBackground" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div>
                        <img src="@image" alt="" class="img-fluid rounded-circle" width="50">
                    </div>
                    <div class="sidebar-brand-text mx-3">@nomComplet</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Admin", "Home")">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Statistiques</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">


                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Liste des utilisateurs</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ListeDeTousLesUsers", "Home")">Tous</a>
                            <a class="collapse-item" href="@Url.Action("Favoris", "Users")">Liste des favoris</a>
                            <a class="collapse-item" href="@Url.Action("BlackList", "Users")">Liste noire</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Reclamations", "Users")">
                        <i class="fas fa-fw fa-exclamation-circle"></i>
                        <span>Réclamations</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Categories")">
                        <i class="fas fa-fw fa-sitemap"></i>
                        <span>Catégories</span>
                    </a>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
            <!-- End of Sidebar -->
        </div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <ul class="navbar-nav ml-auto">

                    <!-- Begin Page Content -->
                    <div class="container-fluid">



                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold MainForeground">Les Catégories</h6>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- Button trigger modal-->
                                    <div style="text-align: right;">
                                        <button type="button" class="btn buttonMain" data-toggle="modal" data-target="#modalCart">Créer catégorie</button>
                                    </div>
                                    <!-- Modal: modalCart -->
                                    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="card card-primary">
                                                    <div class="card-header SecondBackground">
                                                        <h3 class="card-title">Nouvelle catégorie</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <!-- form start -->
                                                    @using (Html.BeginForm("Create1", "Categories", FormMethod.Post, new { id = "myForm" }))
                                                    {
                                                        <div class="card-body">

                                                            <div class="form-group">
                                                                <label for="exampleInputFile">Image de votre catégorie</label>
                                                                <div class="input-group">
                                                                    <div class="custom-file">
                                                                        <input type="file" name="ImageFile" class="custom-file-input" id="exampleInputFile" />
                                                                        <label class="custom-file-label" id="label1" for="exampleInputFile">Choisissez l'image</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputTitre">Titre</label>
                                                                <input type="text" class="form-control" id="inputTitre" name="inputTitre" placeholder="Saisissez le nom de la catégorie" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputNombre">Nombre d'attributs spécifiques à cette catégorie</label>
                                                                <input type="number" class="form-control" id="inputNombre" placeholder="Saisissez le nombre ici" />
                                                            </div>
                                                            <div class="modal-body">

                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Attribut spécifique</th>
                                                                            <th>Unité</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="dynamicContent"></tbody>
                                                                </table>

                                                            </div>
                                                            <div style="display:none">
                                                                <input type="text" class="form-control" id="nomCategorie" name="nomCategorie" />
                                                                <input type="text" class="form-control" id="imageCategorie" name="imageCategorie" />
                                                                <input type="text" class="form-control" id="attributsSpecifiquesCategorie" name="attributsSpecifiquesCategorie" />
                                                            </div>
                                                        </div>

                                                        <!-- /.card-body -->

                                                        <div class="card-footer" style="text-align:right">
                                                            <button type="submit" class="btn buttonMain">Créer</button>
                                                        </div>
                                                    }

                                                </div>
                                                <!-- /.card -->
                                                <!--Body-->
                                                <!--Footer-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal: modalCart -->
                                </div>
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-bordered hoverable table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>

                                                </th>
                                                <th>
                                                    Titre
                                                </th>
                                                <th>
                                                    Attributs uniques à cette catégorie
                                                </th>
                                                <th>
                                                    Modifier
                                                </th>
                                                <th>
                                                    Supprimer
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (string[] str in results)
                                            {
                                                <tr>
                                                    <td style="vertical-align: middle;">
                                                        <img src="@str[1]" class="img-fluid rounded-circle" style="width: 50px; height:50px">
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        @str[2]
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        @{
                                                            string[] table = str[3].Split(new string[] { "//" }, StringSplitOptions.None);
                                                            string longueur = (table.Length).ToString();
                                                            foreach (string s in table)
                                                            {
                                                                <p>@s</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td style="vertical-align: middle;">

                                                        <div style="text-align: left;">
                                                            <button type="button" class="btn buttonMain" data-toggle="modal" data-target="#modalCartEdit" onclick="UpdatePopUpValues('@str[0]','@str[1]','@str[2]','@str[3]','@longueur','@table')"><i class='fas fa-pen'></i></button>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        <button type="button" class="btn buttonMain" data-toggle="modal" data-target="#modalConfirmDelete" onclick="DeletePopUpValues('@str[0]','@str[2]','@str[4]')"><i class='fas fa-trash-alt'></i></button>
                                                    </td>
                                                </tr>

                                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                                        <!--Content-->
                                                        <div class="modal-content text-center">
                                                            <!--Header-->
                                                            <div class="modal-header d-flex justify-content-center SecondBackground">
                                                                <p class="heading" id="nomCategorieDelete"></p>
                                                            </div>

                                                            <!--Body-->
                                                            <div class="modal-body">
                                                                <p id="nombredeProduitsCategorieDelete"></p>
                                                                <i id="icone_rotation" class="fas fa-times fa-4x animated rotateIn" style="color:var(--mainColor);"></i>

                                                            </div>
                                                            <form method="post" action="@Url.Action("Delete1", "Categories")">
                                                                @{
                                                                    int idInt = Convert.ToInt32(str[0]);
                                                                }
                                                                <input type="number" id="id" name="id" value=@idInt hidden="hidden" />
                                                                <!--Footer-->
                                                                <div class="modal-footer flex-center">
                                                                    <a type="button" class="btn waves-effect buttonMain" data-dismiss="modal">Non</a>
                                                                    <button href="" type="submit" class="btn  btn-danger MainBackground">Oui</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!--/.Content-->
                                                    </div>
                                                </div>

                                            }
                                        </tbody>
                                    </table>
                                </div>


                                <!-- Modal: modalCart -->
                                <div class="modal fade show" id="modalCartEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="card card-primary">
                                                <div class="card-header SecondBackground">
                                                    <h3 class="card-title">Modifier la catégorie</h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <!-- form start -->
                                                @using (Html.BeginForm("Edit1", "Categories", FormMethod.Post, new { id = "myFormEdit" }))
                                                {
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <img alt="" id="imageEdit" class="img-fluid rounded-circle" style="width: 100px; height:100px">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputFile">Modifier l'image de votre catégorie</label>
                                                            <div class="input-group">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="exampleInputFile" />
                                                                    <label class="custom-file-label" id="labelImageEdit" for="exampleInputFile"></label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="inputTitre">Titre</label>
                                                            <input type="text" class="form-control" id="inputTitreEdit" name="inputTitreEdit" placeholder="Saisissez le nom de la catégorie" value="" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputNombre">Modifier le nombre d'attributs spécifiques à cette catégorie</label>
                                                            <input type="number" class="form-control" id="inputNombreEdit" placeholder="Saisissez le nombre ici" value="0" />
                                                        </div>
                                                        <div class="modal-body">

                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Attribut spécifique</th>
                                                                        <th>Unité</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="dynamicContentEdit">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div style="display:none">
                                                            <input type="text" class="form-control" id="idCategorieEdit" name="idCategorieEdit" />
                                                            <input type="text" class="form-control" id="nomCategorieEdit" name="nomCategorieEdit" />
                                                            <input type="text" class="form-control" id="imageCategorieEdit" name="imageCategorieEdit" />
                                                            <input type="text" class="form-control" id="attributsSpecifiquesCategorieEdit" name="attributsSpecifiquesCategorieEdit" />
                                                        </div>
                                                    </div>

                                                    <!-- /.card-body -->

                                                    <div class="card-footer" style="text-align:right">
                                                        <button type="submit" class="btn buttonMain">Modifier</button>
                                                    </div>
                                                }

                                            </div>
                                            <!-- /.card -->
                                            <!--Body-->
                                            <!--Footer-->
                                        </div>
                                    </div>
                                </div>


                                <!-- Button trigger modal-->
                                <!--Modal: modalConfirmDelete-->
                                <!--<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">-->
                                <!--Content-->
                                <!--<div class="modal-content text-center">-->
                                <!--Header-->
                                <!--<div class="modal-header d-flex justify-content-center">
                                    <p class="heading" id="nomCategorieDelete"></p>
                                </div>-->
                                <!--Body-->
                                <!--<div class="modal-body">
                                    <p id="nombredeProduitsCategorieDelete"></p>
                                    <i id="icone_rotation" class="fas fa-times fa-4x animated rotateIn"></i>

                                </div>
                                //using (Html.BeginForm("Delete2", "Categories", FormMethod.Post, new { id = "myFormDelete" }))
                                //{
                                    <input type="number" id="idCategorieDelete",name="idCategorieDelete" />-->
                                <!--Footer-->
                                <!--<div class="modal-footer flex-center">
                                        <a type="button" class="btn waves-effect btn-outline-danger" data-dismiss="modal">Non</a>
                                        <button href="" type="submit" class="btn  btn-danger">Oui</button>
                                    </div>
                                }
                                </div>-->
                                <!--/.Content-->
                                <!--</div>
                                </div>-->
                                <!--Modal: modalConfirmDelete-->

                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />


        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Content/js/demo/datatables-demo.js"></script>




    <script>

            //$(document).ready(function () {
            function submitForm() {

                var form = document.getElementById('myForm');

                var inputs = form.querySelectorAll('input[type="text"], input[type="number"], input[type="file"]');
                var attributsSpecifiquesCategorie1 = "";
                var formData = new FormData(form);
                var lienImage1 = "";
                var nomCategorie1 = "";
                inputs.forEach(function (input, index) {
                    if (input.type === 'file') {
                        var file = input.files[0];
                        if (file) {
                            //formData.append(input.name, file);
                            //lienImage1 = URL.createObjectURL(file);
                            //var labelElement = document.getElementById("label1");
                            //$('#label1').textContent = lienImage1;
                            lienImage1 = "../img/Categorie/" + file.name;
                        }
                    } else if (input.name === 'inputTitre') {
                        nomCategorie1 = input.value;
                    } else if (input.name === 'attributSpecifique[]') {
                        if (inputs[index + 1].value == "" || inputs[index + 1].value == null) {
                            attributsSpecifiquesCategorie1 += input.value + '//';
                        }
                        else {
                            attributsSpecifiquesCategorie1 += input.value + ' (' + inputs[index + 1].value + ')//';
                        }

                    }
                    $('#imageCategorie').val(lienImage1);
                    $('#nomCategorie').val(nomCategorie1);
                    $('#attributsSpecifiquesCategorie').val(attributsSpecifiquesCategorie1);

                    //$('#imageCategorie').val("hi");
                    //$('#nomCategorie').val("hi");
                    //$('#attributsSpecifiquesCategorie').val("hi");
                });
                form.submit();

            }


            function submitFormEdit() {

                var form = document.getElementById('myFormEdit');

                var inputs = form.querySelectorAll('input[type="text"], input[type="number"], input[type="file"]');
                var attributsSpecifiquesCategorie1 = "";
                var formData = new FormData(form);
                var lienImage1 = "";
                var nomCategorie1 = "";
                inputs.forEach(function (input, index) {
                    if (input.type === 'file') {
                        var file = input.files[0];
                        if (file) {
                            lienImage1 = "../img/Categorie/" + file.name;
                            //$('#label1').textContent = lienImage1;
                        }
                    } else if (input.name === 'inputTitreEdit') {
                        nomCategorie1 = input.value;
                    } else if (input.name === 'attributSpecifiqueEdit[]') {
                        if (inputs[index + 1].value == "" || inputs[index + 1].value == null) {
                            attributsSpecifiquesCategorie1 += input.value + '//';
                        }
                        else {
                            attributsSpecifiquesCategorie1 += input.value + ' (' + inputs[index + 1].value + ')//';
                        }

                    }
                    $('#imageCategorieEdit').val(lienImage1);
                    $('#nomCategorieEdit').val(nomCategorie1);
                    $('#attributsSpecifiquesCategorieEdit').val(attributsSpecifiquesCategorie1);

                    //$('#imageCategorie').val("hi");
                    //$('#nomCategorie').val("hi");
                    //$('#attributsSpecifiquesCategorie').val("hi");
                });
                form.submit();

            }


            function UpdatePopUpValues(id, image, nom, attributsSpecifiques, nombreAttributsSpecifiques, attributsSpecifiquesTableau) {
                //labelImageEdit,inputTitreEdit,inputNombreEdit
                $('#idCategorieEdit').val(id);
                $('#labelImageEdit').text("Choisissez votre image");
                $('#inputTitreEdit').val(nom);
                $('#imageEdit').attr('src', image);



                document.getElementById('dynamicContentEdit').innerHTML = '';

                var table = attributsSpecifiques.split("//");

                if (table[table.length - 1] == '') {
                    nombreAttributsSpecifiques--;
                }
                $('#inputNombreEdit').val(nombreAttributsSpecifiques);
                for (var j = 0; j < table.length; j++) {
                    var table2 = table[j].split("(");
                    if (table2[0] != '') {
                        var valeur = table2.length === 2 ? table2[1].slice(0, -1) : '';

                        var rowHtml = '<tr>' +
                            '<th scope="row">' + (j + 1) + '</th>' +
                            '<td>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" name="attributSpecifiqueEdit[]" value="' + table2[0] + '" />' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" name="uniteEdit[]" value="' + valeur + '" />' +
                            '</div>' +
                            '</td>' +
                            '</tr>';

                        // Ajoutez la ligne à votre élément HTML existant (assurez-vous que vous avez un élément avec l'ID dynamicContentEdit)
                        document.getElementById('dynamicContentEdit').innerHTML += rowHtml;
                    }

                }


            }

            function DeletePopUpValues(id, nom, nombreDeProduits) {
                var intValue = parseInt(id, 10);
                //document.getElementById('idCategorieDelete').value = intValue;


                var text = "Êtes vous sûrs de vouloir supprimer la catégorie \"" + nom + "\" ?";
                $('#id').val(intValue);
                $('#nomCategorieDelete').text(text);
                $('#nombredeProduitsCategorieDelete').text("Cette catégorie contient " + nombreDeProduits + " produits.");

            }


            /*
         function submitForm() {
             // Collect data from the form inputs

             var nomCategorie1 = document.getElementById('inputTitre').value;
             var nombreAttributsCategorie1 = parseInt(document.getElementById('inputNombre').value) || 0;

             var attributsSpecifiquesCategorie1 = "";
             var inputs = document.querySelectorAll('input[name="attributSpecifique[]"]');
             for (var i = 0; i < inputs.length; i++) {
                 attributsSpecifiquesCategorie1 += inputs[i].value + '(' + document.querySelectorAll('input[name="unite[]"]')[i].value + ')//';
             }
             // Create an object to send to the server
             var requestData = {
                 nom: "hi",
                 image: "hi",
                 attributsSpecifiques: "fgh"
             };


             // Submit the form using AJAX
             $.ajax({
                 type: 'POST',
                 url: '/Categories/Create', // Update this URL
                 contentType: 'application/json; charset=utf-8',
                 data: JSON.stringify(requestData),
                 success: function (response) {
                     // Handle the success response if needed
                     console.log(response);
                 },
                 error: function (error) {
                     // Handle the error if needed
                     console.log(error);
                 }
             });
         }
         */

            document.getElementById('inputNombre').addEventListener('input', function () {
                document.getElementById('dynamicContent').innerHTML = '';

                nombreAttributsCategorie1 = parseInt(this.value) || 0;

                for (var i = 0; i < nombreAttributsCategorie1; i++) {
                    var rowHtml = '<tr>' +
                        '<th scope="row">' + (i + 1) + '</th>' +
                        '<td>' +
                        '<div class="form-group">' +
                        '<input type="text" class="form-control" name="attributSpecifique[]" />' +
                        '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div class="form-group">' +
                        '<input type="text" class="form-control" name="unite[]" />' +
                        '</div>' +
                        '</td>' +
                        '</tr>';

                    document.getElementById('dynamicContent').innerHTML += rowHtml;
                }
            });

            document.getElementById('inputNombreEdit').addEventListener('input', function () {
                document.getElementById('dynamicContentEdit').innerHTML = '';

                nombreAttributsCategorie1 = parseInt(this.value) || 0;

                for (var i = 0; i < nombreAttributsCategorie1; i++) {
                    var rowHtml = '<tr>' +
                        '<th scope="row">' + (i + 1) + '</th>' +
                        '<td>' +
                        '<div class="form-group">' +
                        '<input type="text" class="form-control" name="attributSpecifiqueEdit[]" />' +
                        '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div class="form-group">' +
                        '<input type="text" class="form-control" name="uniteEdit[]" />' +
                        '</div>' +
                        '</td>' +
                        '</tr>';

                    document.getElementById('dynamicContentEdit').innerHTML += rowHtml;
                }
            });


            document.getElementById('myForm').addEventListener('submit', function (event) {
                event.preventDefault();
                submitForm();
            });

            document.getElementById('myFormEdit').addEventListener('submit', function (event) {
                event.preventDefault();
                submitFormEdit();
            });


            // });
    </script>

</body>

</html>
