@model SiteDeVente.Models.Produit
@using System.Web.Mvc

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "Produits", FormMethod.Post, new { enctype = "multipart/form-data", style = "max-width: 600px; margin: 0 auto;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 style="color: #D19C97; text-align:center">Ajout d'un bien</h2><br />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nom, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prix, "Prix", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pourcentageSolde, "Pourcentage du solde", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pourcentageSolde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pourcentageSolde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantite, "Quantite", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valeursSpecifiques, "Valeurs specifiques", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valeursSpecifiques, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valeursSpecifiques, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.idCategorieF, "Categorie", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.idCategorieF, (SelectList)ViewBag.Categories, "Sélectionnez une catégorie", htmlAttributes: new { @class = "form-control" })            @Html.ValidationMessageFor(model => model.idCategorieF, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" style="width:100%; height:100%" />
            </div>
        </div>
    </div>



    <div class="form-group" style="display: none;">
        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.date, "{0:MM/dd/yyyy hh:mm:ss tt}", new { @class = "form-control", @Value = DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss tt") })
            @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div style="text-align: right;">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </div>


}


