@model SiteDeVente.Models.Produit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Session["UserId"];
}



<div class="container-fluid py-5">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">
            @TempData["Message"]
        </div>
    }
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5 d-flex align-items-stretch">

            <div class="product-image-container border p-3 w-100">
                <img class="w-100 h-100" src="/..@Model.image" alt="Product Image">
            </div>
        </div>
        <div class="col-lg-7 pb-5 d-flex align-items-stretch">
            <div class="product-info-container border p-3 w-100">
                <h3 class="font-weight-semi-bold">@Model.nom</h3>
                <div class="d-flex mb-3">
                    <!-- Ajoutez ici le code pour afficher la note et le nombre de critiques -->
                </div>
                <h3 class="font-weight-semi-bold mb-4">
                    @if (Model.pourcentageSolde != 0)
                    {
                        // Calculer le nouveau prix si le pourcentage de réduction est différent de zéro
                        decimal? nouveauPrix = Model.prix - (Model.prix * Model.pourcentageSolde / 100);
                        @($"DH{(nouveauPrix.HasValue ? nouveauPrix.Value : 0)}")
                    }
                    else
                    {
                        @($"DH{Model.prix}")
                    }
                </h3>
                <p class="mb-4">@Model.description</p>
                <div>
                    <p class="font-weight-bold">Quantité disponible: @Model.quantite</p>

                    @if (Model.Categorie.attributsSpecifiques != null && Model.valeursSpecifiques != null)
                    {
                        var attributs = Model.Categorie.attributsSpecifiques.Split(new[] { "//" }, StringSplitOptions.RemoveEmptyEntries);
                        var valeurs = Model.valeursSpecifiques.Split(new[] { "//" }, StringSplitOptions.RemoveEmptyEntries);

                        for (int i = 0; i < Math.Min(attributs.Length, valeurs.Length); i++)
                        {
                            <p class="font-weight-bold">@attributs[i]: @valeurs[i]</p>
                        }
                    }
                    @if (Model.User != null)
                    {
                        <div>
                            <p class="font-weight-bold">Propriétaire: @Model.User.nomComplet</p>
                            <p class="font-weight-bold">Téléphone du propriétaire: @Model.User.tel</p>
                        </div>
                    }

                    <!-- Ajouter ici le code pour afficher d'autres attributs spécifiques de la catégorie -->
                    <!-- Ajouter ici le code pour afficher d'autres valeurs spécifiques du produit -->

                    @using (Html.BeginForm("Acheter", "Acheters", FormMethod.Post))
                    {
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <input type="button" id="moins" class="btn btn-primary btn-minus " value="-">


                                </div>
                                <input type="text" class="form-control bg-secondary text-center" id="quantite" name="quantite" value="1">
                                <div class="input-group-btn">
                                    <input type="button" id="plus" class="btn btn-primary btn-plus " value="+">
                                </div>
                            </div>

                            <input type="hidden" name="idProduit" value="@Model.idProduit" />

                            <button type="submit" id="acheterButton" class="btn btn-primary px-3">
                                <i class="fa fa-shopping-cart mr-1"></i> Acheter
                            </button>
                        </div>
                    }
                    @using (Html.BeginForm("AjouterALaListeDeSouhaits", "Acheters", FormMethod.Post))
                    {
                        <input type="hidden" name="idProduit" value="@Model.idProduit" />

                        <button type="submit" id="wishlistButton" class="btn btn-primary px-3">
                            <i class="fas fa-heart mr-1"></i> Ajouter aux favoris
                        </button>
                    }



                    <!-- Afficher la quantité et les attributs spécifiques -->


                    <div class="d-flex pt-2">
                        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderAction("ListeProduitssuggesion", "Home", new { produitId = Model.idProduit }); }

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idProduit }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#moins').click(function (e) {
            e.preventDefault(); // Prevent the default form submission

            var quantityInput = $('#quantite'); // Get the quantity input element
            var currentValue = parseInt(quantityInput.val()); // Get the current value as an integer

            if (!isNaN(currentValue) && currentValue!=1 ) {
                quantityInput.val(currentValue - 1); // Decrement the value by 1
            }
        });

        $('#plus').click(function (e) {
            e.preventDefault(); // Prevent the default form submission

            var quantityInput = $('#quantite'); // Get the quantity input element
            var currentValue = parseInt(quantityInput.val()); // Get the current value as an integer

            if (!isNaN(currentValue)) {
                quantityInput.val(currentValue + 1); // Decrement the value by 1
            }
        });
        $('#acheterButton').click(function (e) {
            var quantiteSaisie = parseInt($('#quantite').val());
            var quantiteDisponible = parseInt('@Model.quantite');

            var idUtilisateur = parseInt('@Session["UserId"]');

            if (idUtilisateur === 0) {
                e.preventDefault();
                alert("Vous devez créer un compte pour effectuer un achat.");
            }
            else if (quantiteSaisie > quantiteDisponible) {
                e.preventDefault();
                alert("Quantité non disponible");
            }
        });
        $('#wishlistButton').click(function (e) {
            var idProduit = parseInt('@Model.idProduit');

            $.ajax({
                url: '@Url.Action("AjouterALaListeDeSouhaits", "Acheters")',
                type: 'POST',
                data: { idProduit: idProduit },
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("le produit est ajoute a la liste des favoris");
                }
            });

            e.preventDefault();
        });

    });
</script>