@model IEnumerable<SiteDeVente.Models.Produit>
@if (Model.Count() <= 4)
{
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            @foreach (var produit in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4" style="height: 500px;">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="/..@produit.image" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@produit.nom</h6>
                            <div class="d-flex justify-content-center">

                                @if (produit.pourcentageSolde != 0)
                                {
                                    <h6 class="ml-2">@produit.prixNouveau Dh</h6>
                                    <h6 class="text-muted ml-2"><del>@produit.prix Dh</del></h6>

                                }
                                else
                                {
                                    <h6>@produit.prix Dh</h6>
                                }
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="@Url.Action("Details", "Home", new { id = produit.idProduit })" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>Voir Detail
                            </a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary"></i>Ajouter favoris </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{

    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @foreach (var produit in Model)
                {
                    <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/@produit.image" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@produit.nom</h6>
                            <div class="d-flex justify-content-center">
                                @if (produit.pourcentageSolde != 0)
                                {
                                    <h6>@produit.prixNouveau Dh</h6><h6 class="text-muted ml-2"><del>@produit.prix Dh</del></h6>
                                }
                                else
                                {
                                    <h6>@produit.prix Dh</h6>
                                }
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="@Url.Action("Details", "Home", new { id = produit.idProduit })" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary"></i>Ajouter favoris</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Carousel Products End -->

    <script>$(document).ready(function () {
            $(".related-carousel").owlCarousel({
                items: 3, // You can adjust the number of items displayed
                loop: true,
                margin: 15,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                       1000: {
                            items: 3,
                            nav: true,
                            loop: false
                        }
                    }
                });
        });</script>
}